<figure class="text-center">
    <video src="{{ with .Get "src"}}{{ . | absURL }}{{ end }}" class="embed-responsive  ml-auto mr-auto {{ with .Get "class"}}{{ . }}{{ end }}"  {{ with .Get "style"}}style="{{ . }}"{{ end }} {{ if .Get "controls" }}controls {{ else }} muted autoplay loop{{ end }}></video>
  {{ with .Get "caption" }}
    <figcaption>{{ . }}</figcaption>
  {{ end }}
</figure>
