<!DOCTYPE html>
<html lang="{{ .Lang }}" itemscope itemtype="http://schema.org/WebPage">
  {{ $pages := .Site.RegularPages }}
  {{ range .Site.Home.Translations }}
  {{ $pages = $pages | lang.Merge .Site.RegularPages }}
  {{ end }}

  {{- partial "head.html" . -}}
  <style>
    main.container img, main.container figure {
      max-width: 800px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  </style>
  <body>
    {{- partial "header.html" . -}}
    {{- block "main" . }}{{- end }}
    {{- partial "footer.html" . -}}
  </body>
</html>
